python-dotenv~=0.18.0
uvicorn~=0.14.0
SQLAlchemy~=1.4.21
fastapi_sqlalchemy
alembic~=1.6.5
psycopg2-binary
sqlalchemy-cockroachdb
fastapi~=0.66.0
pytz~=2021.1
pydantic[email]~=1.8.2
fastapi-jwt-auth
google-cloud-storage
Pillow~=8.3.1
azure-cognitiveservices-vision-computervision
geopy
